<html layout:decorate="~{layout}"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="container min-vh-100 my-3">
    <br>
    <h5>장바구니</h5>
    <br><br>
    <div th:if="${user.cart.merchandiseList.empty}">
        <br><br><br><br><br><br><br><br>
        <h3 style="text-align: center">장바구니에 상품이 없습니다.</h3>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div th:each="merchandise : ${user.cart.merchandiseList}">
        <a style="scroll-margin-top:10px;" th:id="|merchandise_${merchandise.id}|"></a>
        <table height="300" class="table border border-2 border-dark table-bordered">
        <thead>
        <tr class="text-center align-middle">
            <td width="30%" rowspan="8" colspan="8" th:text="${merchandise.image}"></td>
            <td width="30%" rowspan="2" colspan="8" th:text="|상품: ${merchandise.merchandiseName}|"></td>
            <td width="15%" rowspan="8" colspan="8">
                <div>
                    <div th:each="quantity : ${merchandise.quantityList}" th:if="${quantity.merchandise.id == merchandise.id && quantity.cart.id == user.cart.id}" th:text="|수량: ${quantity.quantity}|"></div>
                    <a th:href="@{|/cart/decrease/${merchandise.id}|}" class="btn btn-sm btn-outline-secondary"
                       th:text="감소"></a>
                    <a th:href="@{|/cart/increase/${merchandise.id}|}" class="btn btn-sm btn-outline-secondary"
                        th:text="추가"></a>
                </div>
            </td>
            <td width="25%" rowspan="8" colspan="8">
                <div th:id="'totalPrice_' + ${status.index}" th:each="quantity, status : ${merchandise.quantityList}" th:if="${quantity.merchandise.id == merchandise.id && quantity.cart.id == user.cart.id}"
                     th:text="|합계: ${merchandise.price * quantity.quantity}|" th:value="${merchandise.price * quantity.quantity}"></div>
            </td>
        </tr>
        <tr></tr>
        <tr class="text-center align-middle">
            <td rowspan="2" colspan="8" th:text="|가격: ${merchandise.price}|"></td>
        </tr>
        <tr></tr>
        <tr class="text-center align-middle">
            <td rowspan="2" colspan="8" th:text="|사이즈: ${merchandise.size}|"></td>
        </tr>
        <tr></tr>
        <tr class="text-center align-middle">
            <td rowspan="2" colspan="8" th:text="|${merchandise.category.gender} / ${merchandise.category.clothType} / ${merchandise.category.season}|"></td>
        </tr>
        </table>
        <br>
    </div>
    <span>
        <button onclick="cartDelete()" type="submit" class="btn btn-primary">장바구니 비우기</button>
    </span>
    <span>
        <button onclick="cartBuy()" type="submit" class="btn btn-primary">전체 결제하기</button>
    </span>
</div>
<script layout:fragment="script" type='text/javascript'>
function cartDelete(){
    event.preventDefault();
    if(confirm("장바구니의 모든 상품이 삭제됩니다,\n정말 삭제하시겠습니까?")){
        location.href = "/cart/delete";
    }
}

function cartBuy(){
    event.preventDefault();
    var totalPriceElements = document.querySelectorAll("[id^='totalPrice_']");
    var total = 0;
    totalPriceElements.forEach(function(element){
        var totalPrice = element.innerText;
        console.log(totalPrice);
        total += parseInt(totalPrice.replace('합계: ', ''));
    })
    if(confirm("총 구매 금액은 " + total + "입니다. \n정말 구매하시겠습니까?")){
        location.href = "/cart/buy";
    }
}
</script>