<html layout:decorate="~{layout}"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="container min-vh-100 my-3">
    <br>
    <h5>장바구니</h5>
    <br><br>
    <div th:each="merchandise : ${user.cart.merchandiseList}">
    <table height="300" class="table border border-2 border-dark table-bordered">
        <thead>
        <tr class="text-center align-middle">
            <td width="30%" rowspan="8" colspan="8" th:text="${merchandise.image}"></td>
            <td width="30%" rowspan="2" colspan="8" th:text="|상품: ${merchandise.merchandiseName}|"></td>
            <td width="15%" rowspan="8" colspan="8">
                <div>
                    <div id="mQuantity" th:text="|수량: ${merchandise.quantity.size()}|"></div>
                    <a th:href="@{|/cart/quantity/${merchandise.id}|}" class="btn btn-sm btn-outline-secondary"
                        th:text="감소"></a>
                    <a th:href="@{|/cart/quantity/${merchandise.id}|}" class="btn btn-sm btn-outline-secondary"
                        th:text="추가"></a>
                </div>
            </td>
            <td width="25%" rowspan="8" colspan="8">
                <div>
                    <div id="mQuantity2" th:text="|합계: ${merchandise.price*merchandise.quantity.size()}|"></div>
                    <a th:href="@{|/cart/cancel/${merchandise.id}|}" class="btn btn-sm btn-outline-secondary"
                       th:text="취소하기"></a>
                    <a th:href="@{|/cart/buy/${merchandise.id}|}" class="btn btn-sm btn-outline-secondary"
                       th:text="결제하기"></a>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr class="text-center align-middle">
            <td rowspan="2" colspan="8" th:text="|가격: ${merchandise.price}|"></td>
        </tr>
        <tr></tr>
        <tr class="text-center align-middle">
            <td rowspan="2" colspan="8" th:text="|사이즈: ${merchandise.size}|"></td>
        </tr>
        <tr></tr>
        <tr class="text-center align-middle">
            <td rowspan="2" colspan="8" th:text="|${merchandise.category.gender} / ${merchandise.category.clothType} / ${merchandise.category.season}|"></td>
        </tr>
    </table>
        <br>
    </div>
</div>