<html layout:decorate="~{layout}"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<div layout:fragment="content" class="container min-vh-100 my-3">
    <div class="row my-3">
        <div class="col-3">
            <form class="input-group">
                <select class="form-select" name="sortList" th:value="${param.sortList}">
                    <option value="NEW" selected>최신순</option>
                    <option value="OLD">오래된순</option>
                    <option value="LIKE">인기순</option>
                    <option value="CHEAP">가격낮은순</option>
                    <option value="EXPENSIVE">가격높은순</option>
                </select>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-8">
            <form class="input-group">
                <input type="text" name="kw" class="form-control" th:value="${param.value}" placeholder="검색어를 입력해주세요.">
                <button class="btn btn-outline-secondary" type="submit" style="margin-top:0;">검색</button>
            </form>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-1">
            <form class="input-group">
                <select class="form-select" name="sortGender" th:value="${param.sortGender}">
                    <option value="NOGENDER" selected>성별</option>
                    <option value="MALE">남</option>
                    <option value="FEMALE">여</option>
                </select>
            </form>
        </div>
        <div class="col-1">
            <form class="input-group">
                <select class="form-select" name="sortType" th:value="${param.sortType}">
                    <option value="NOTYPE" selected>타입</option>
                    <option value="TOP">상의</option>
                    <option value="BOTTOM">하의</option>.
                    <option value="SHOES">신발</option>
                </select>
            </form>
        </div>
        <div class="col-1">
            <form class="input-group">
                <select class="form-select" name="sortSeason" th:value="${param.sortSeason}">
                    <option value="NOSEASON" selected>계절</option>
                    <option value="SPRING">봄,가을</option>
                    <option value="SUMMER">여름</option>
                    <option value="WINTER">겨울</option>
                </select>
            </form>
        </div>
    </div>
<h2>SHOPPING MALL</h2>
    <table class="table">
        <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제품</th>
                <th>제품명</th>
                <th>가격</th>
                <th>좋아요</th>
            </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="merchandise, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td>
                <a th:href="@{|/merchandise/detail/${merchandise.id}|}">image</a>
            </td>
            <td class="text-start">
                <a th:href="@{|/merchandise/detail/${merchandise.id}|}" th:text="${merchandise.merchandiseName}"></a>
                <span class="text-danger small ms-2"
                    th:if="${#lists.size(merchandise.reviewList) > 0}"
                    th:text="${#lists.size(merchandise.reviewList)}">
                </span>
            </td>
            <td th:text="${merchandise.price}"></td>
            <td>like</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
        <ul class ="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|/home?page=${paging.number-1}&kw=${kw}&sortList=${sortList}|}">
                <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|/home?page=${page}&kw=${kw}&sortList=${sortList}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|/home?page=${paging.number+1}&kw=${kw}&sortList=${sortList}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <a th:href="@{merchandise/create}" class="btn btn-primary">상품 등록하기</a>
</div>
<script layout:fragment="script" type='text/javascript'>
    $('select[value]').each((index, node) => {
        const $select = $(node);
        const value = $(node).attr("value");

        $select.find(`option[value="${value}"]`).prop("selected", true);
    });
</script>
</html>